<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:include="fragments/page :: page(
      title='PreMarkets',
      header=true,
      css='premarket/list',
      js='premarket'
      )">
    <main class="premarket" layout:fragment="content">
        <h2 class="title">Mercados para aprovação</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Nº</th>
                    <th>Estado</th>
                    <th>CNPJ</th>
                    <th>Delivery</th>
                </tr>
            </thead>
            <tbody>
                <tr class="premarket-row" th:each="preMarket,i : ${preMarkets}">
                    <td class="id" th:text="${preMarket.id}"></td>
                    <td class="name" th:text="${preMarket.name}"></td>
                    <td th:text="${preMarket.email}"></td>
                    <td th:text="${preMarket.address.address}"></td>
                    <td th:text="${preMarket.address.cep}"></td>
                    <td th:text="${preMarket.address.city}"></td>
                    <td th:text="${preMarket.address.neighborhood}"></td>
                    <td th:text="${preMarket.address.number}"></td>
                    <td th:text="${preMarket.address.state}"></td>
                    <td th:text="${preMarket.cnpj}"></td>
                    <td th:text="${preMarket.hasDelivery()} ? 'Sim' : 'Não'"></td>
                </tr>
            </tbody>
        </table>
        <a href="#options" rel="modal:open"></a>
        <article id="options" class="modal" style="display:none;">
            <header>
                <h3 class="title">Aprovar ou recusar cadastro do mercado</h3>
            </header>
            <main>
                <p class="name">Nome: </p>
                
                <form action="#" th:action="@{/premarkets}" th:object="${preMarketFromView}" method="POST">
                    <input type="hidden" th:field="*{id}" class="id">
                    <div class="option-row">
                        <input id="approve" type="radio" name="option" value="true" th:field="*{approved}" checked>
                        <label for="approve">Aprovar</label>
                    </div>
                    <div class="option-row">
                        <input id="disapprove-reason" type="radio" name="option" value="false" th:field="*{approved}">
                        <label for="disapprove-reason">Recusar</label>
                        <div class="disapprove-box">
                            <textarea rows="3" placeholder="Descreva o motivo" class="text" th:field="*{disapprovedText}"></textarea>
                        </div>
                    </div>
                    
                    <button class="btn-confirm">Confirmar</button>
                </form>
            </main>
        </article>
    </main>
</html>