@import 'fonts';
@import 'colors';
@import 'mixins';

$images-dir: '/assets/images/';

body,strong, p, a, button, span, input, label, div {
    font-family: "museo_sans", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

html,body {
    height: 100%;
}