.settings {
    
    .menu {
        position: fixed;
        width: 15em;
        height: 100%;
        background-color: $background-gray;
        padding-top: 2em;
        box-shadow: 8px 0 6px -4px #999;
        
        .item {
            display: block;
            text-align: center;
            color: black;
            text-decoration: none;
            font-size: 1.4em;
            padding: 1em 0;
        }
    }
    
    .content {
        margin-left: 15em;
    }
}