<div th:fragment="header">
    <header class="header" >
        <div class="logo-container">
            <a href="/"><img alt="logo" src="/assets/images/logo.png"></a>
        </div>
        <navigation class="menu">
            <div class="dropdown">
                <p>Operações</p>
                <nav class="dropdown-content">
                    <a href="/premarkets" class="link">Mercados pré-aprovados</a>
                </nav>
            </div>
            <div class="dropdown">
                <p>Gerencia</p>
                <nav class="dropdown-content">
                    <a href="/users" class="link">Usuários do iStoque</a>
                </nav>
            </div>
        </navigation>
        <h1 class="title"><a href="/">iStoque</a></h1>
        <nav class="options">
            <a href="/settings" class="link">Configurações</a>
            <a href="/logout" class="link">Sair</a>
        </nav>
    </header>
</div>
