<header class="header" th:fragment="header">
    <div class="logo-container"><img alt="logo" src="/assets/images/logo.png"></div>
    <navigation class="menu dropdown">
        <p>Operações</p>
        <nav class="dropdown-content">
            <a href="/premarkets" class="link">PreMarkets</a>
        </nav>
    </navigation>
    <h1>iStoque</h1>
    <nav class="options">
        <a href="/configuracoes" class="link">Configurações</a>
        <a href="/logout" class="link">Sair</a>
    </nav>
</header>