<!DOCTYPE html >
<html xmlns:layout="http://www.thymeleaf.org" 
      xmlns:th="http://www.thymeleaf.org" 
      layout:fragment="page">
<head>
    <title th:text="'iStoque | ' + ${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/vendor/css/reset.css"/>
    <link th:if="${css}" rel="stylesheet" type="text/css" th:href="'/dist/' + ${css} + '.css'"/>
    <link rel="stylesheet" href="/vendor/css/jquery.modal.css" type="text/css" media="screen" />
    <script src="/vendor/js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/jquery.modal.min.js"></script>
    <script th:if="${js}" th:src="'/js/' + ${js} + '.js'"></script>
</head>
<body>
    <div th:if="${header} == true" th:include="fragments/header :: header"  th:remove="tag"></div>
    <div layout:fragment="content"></div>
</body>
</html>
