<!DOCTYPE html >
<html xmlns:layout="http://www.thymeleaf.org" 
      xmlns:th="http://www.thymeleaf.org" 
      layout:fragment="page">
<head>
    <title>iStoque | Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/vendor/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/dist/home/index.css"/>
</head>
<body>
    <div th:if="${header} == true" th:replace="fragments/header :: header"></div>
    <div layout:fragment="content">
</body>
</html>
