<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:include="fragments/page :: page(
      title='Login',
      header=false,
      css='login/index'
      )">
    <main class="login" layout:fragment="content">
        <section class="container" >
            <h1 class="title">iStoque</h1>
            <form action="/login" method="POST" class="content">
                <h2 class="subtitle">Login</h2>
                <div th:if="${param.error}">
                    <p class="invalid-login">Credenciais inválidas</p>
                </div>
                <input type="email" name="username" placeholder="E-mail" class="text-field email" autofocus required/>
                <input type="password" name="password" placeholder="Senha" class="text-field password" required/>
            
                <button value="" class="fab confirm-button"/></button>
            </form>
        </section> 
    </main>
</html>
