<!DOCTYPE html>
<html>
<head>
    <title>iStoque | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/vendor/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/dist/login/index.css"/>
</head>
<body>
    <main class="login">
        
        <section class="container" >
            <h1 class="title">iStoque</h1>
            <form action="/login" method="POST" class="content">
                <h2 class="subtitle">Login</h2>
                <div th:if="${param.error}">
                    <p class="invalid-login">Credenciais inválidas</p>
                </div>
                <input type="email" name="username" placeholder="E-mail" class="text-field email" required/>
                <input type="password" name="password" placeholder="Senha" class="text-field password" required/>
            
                <button value="" class="fab confirm-button"/></button>
            </form>
        </section>
    </main>
</body>
</html>
