<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:include="fragments/page :: page(
      title='Alteraração de senha',
      header=true,
      css='settings/changePassword',
      js='settings'
      )">
    <main class="settings change-password" layout:fragment="content">
        <nav class="menu">
            <ul>
                <li><a href="/settings/profile" class="item" >Perfil</a></li>
                <li><a href="/settings/change-password" class="item">Alterar senha</a></li>
            </ul>
        </nav>
        <section class="content">
            <form action="/settings/change-password" method="POST">
                <h2 class="title">Alteração de senha</h2>
                <input type="password" name="newPassword" class="text-field" placeholder="Nova senha">
                <input type="password" name="confirmNewPassword" class="text-field" placeholder="Confirme a nova senha">
                <input type="submit" value="Confirmar" class="bt-confirm">
            </form>
        </section>
    </main>
</html>