<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:include="fragments/page :: page(
      title='Home',
      header=true,
      css='home/index'
      )">
    <main layout:fragment="content">
        <section class="welcome">
            <h2>Bem-vindo imarketer</h2>
            <div class="content">
                <p class="description">Agora voce ja pode gerenciar os mercados e compradores!</p>
                <img src="/assets/images/arrow.png" class="arrow">
                <p class="description">Escolha uma das opções acima para administrar os recursos do iMarket.</p>
            </div>
        </section>
    </main>
</html>